.card {
    width: 100%;
    border: 1px solid rgb(198, 196, 196);
    &-wrapper {
        padding: 0 10%;
    }
    img {
        width: 100%;
        aspect-ratio: 1/1;
    }
    &-title {
        font-size: calc(1rem - 2px);
    }
    &-description, &-price, button {
        font-size: calc(1rem - 4px);
    }
    &-description {
        color: rgb(151 145 145);
        line-height: 20px;
    }
    &-type {
        font-size: calc(1rem - 4px);
        border-radius: 6px;
        padding: 2px 5px;
        color: white;
        width: fit-content;
    }
    &-type-roja {
        background-color: rgb(182, 56, 56);
    }
    &-type-rubia {
        background-color: rgb(198, 198, 49);
    }
    &-type-morena {
        background-color: rgb(219, 94, 17);
    }
    &-price {
        font-weight: 800;
    }
    button {
        width: 100%;
        color: #5330d7;
        background-color: #ededed;
        font-weight: 700;
        border: none;
        padding: 8px 0;
        cursor: pointer
    }
}