main {
    h1 {
        text-align: center;
    }
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @media (min-width: 700px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            max-width: 1024px;
            margin: 0 auto;
        }
    }
    
}