main {
    padding-bottom: 180px;
    h1 {
        text-align: center;
    }
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @media (min-width: 700px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            max-width: 1024px;
            margin: 0 auto;
        }
    }
    .dark-screen {
        pointer-events: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: black;
        transition: all .4s ease;
        &-active {
            opacity: 0.6;
        }
        &-hide {
            opacity: 0;
        }
    }
}

.no-scroll {
    overflow: hidden;
}